{{#each this}}
<div class="section-shadow-box hp-product-category">
    <div class="hp-product-category__box">
        <div class="hp-product-category__box__img">
            <img src="{{imageUrl}}" alt="baby image" />
        </div>
        <div class="hp-product-category__box__detail">
            <h2>{{name}}</h2>
            <p>{{description}} </p>
            <a href="#products/{{id}}" class="btn-1">Explore {{name}}</a>
        </div>
    </div>
</div>
{{/each}}