{{#each this}}
<div class="plp-container__products__item" data-id="{{id}}" data-price="{{price}}" data-title="{{name}}" data-image="{{imageURL}}">
    <div class="plp-container__products__item__title">
        <h4>{{name}}</h4>
    </div>
    <div class="plp-container__products__item__image">
            <img src="{{imageURL}}"  tabindex="0" alt="{{name}}" />
    </div>
    <div class="plp-container__products__item__details">
        <p tabindex="0">
            {{description}}
        </p>
        <div class="plp-container__products__item__price">
            <button type="button" class="btn-1 add-to-cart">Buy Now <span class="price">Rs {{price}}</span></button>
        </div>
    </div>
</div>
{{/each}}