{{#each this}}
<div class="plp-container__products__item" data-id="{{id}}" data-price="{{price}}">
    <div class="plp-container__products__item__title">
        <h4>{{name}}</h4>
    </div>
    <div class="plp-container__products__item__image">
            <img src="{{imageURL}}" alt="product image" />
    </div>
    <div class="plp-container__products__item__details">
        <p>
            {{description}}
        </p>
        <div class="plp-container__products__item__price">
            <button type="button" class="btn-1 add-to-cart">Buy Now <span class="price">Rs {{price}}</span></button>
        </div>
    </div>
</div>
{{/each}}